footer {
    display: flex;
    /* width: calc(100% - 8.89% - 8.89%); */
    padding: 0.4rem 8.89%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    background-color: var(--secondary);
    border-radius: 1rem 1rem 0 0;
}
#copyright::before {
    content: "Copyright";
}
#platform {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}
#platform img {
    width: 2.5rem;
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

@media screen and (max-width:769px) {
    footer {
        padding: 0.8rem 5.845%;
    }
}
@media screen and (max-width:426px) {
    footer {
        padding: 0.8rem 2.80%;
    }
    #copyright::before {
        content: none;
    }
    #platform p {
        display: none;
    }
    #platform img {
    width:3rem;
}
}