.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.35rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.filter * {
    display: flex;
    height: 2rem;
    padding: 0.35rem 1.55rem;
    align-items: center;
}
.cat {
    display: flex;
    height: 2rem;
    padding: 0.35rem 1.55rem;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;

    border-radius: 1.55rem;
    background: #807D7D;
    color: white;
    border: 6px solid white;
}

.cat.perso {
    background-color: #ffffff;
    color: var(--Text);
}
.cat.uni {
    background-color: #1d1d1d;
}

.cat.graph {
    background-color: var(--Main);
}
.cat.film {
    background-color: #bf4e31;
}
.cat.autre {
    background-color:#625469 ;
}
.cat.DDD {
    background-color:#ffa163;
    color: var(--Text);
}


#projets {
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.2rem 1rem;
    align-self: stretch;
    flex-wrap: wrap;
}
#filtreProj {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    align-self: stretch;
}

.projet {
    box-shadow: var(--B-shadow);
}
a.projet {
    width: 38.01%;
    display: flex;
    padding: 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    aspect-ratio: 450 / 352;
    text-decoration: none;

    border-radius: 2.35rem;
    background: var(--Secondary, #FFBE63);
}

.projet h3 {
    display: flex;
    /* height: 2.4rem; */
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;

    color: var(--Bold);
}

.projet .container {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.4rem;
    align-self: stretch;
    flex-wrap: wrap;
}
.projet .img {
    display: flex;
    width: 100%;
    background:var(--Banner);
    justify-content: center;
    align-items: center;
    aspect-ratio: 15/8;

    border-radius: 1.55rem 1.55rem 0rem 0rem;
    background: white;
    background: var(--Banner);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    }

@media screen and (min-width:425px) {
    a.grand-Projet {
        width: 80.41%;
        aspect-ratio: 952/616;
    }
}

@media screen and (max-width:625px) {
    div#projets {
        flex-direction: column;
    }

    div#projets>* {
        width: calc(100% - 1.6rem);
    }
    .projet .container {
        flex-direction: row;
    }
}
