section {
    margin: 0 0 40px;
    width: 100%;
}
ul {
    padding-left:40px ;
}
#en-tete {
    width: 100%;
    position: relative;
    height: 320px;
}

#en-tete img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#en-tete h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    color: var(--sub);
    text-shadow: -3px -3px 0 white,
                3px -3px 0 white,
               -3px 3px 0 white,
                3px 3px 0 white;
}

#contenu {
    margin: 0 5% 40px;
    width: calc(100% - 10%);
}
#Droite > * {
    display: inline-block;
    margin-bottom: 15px;
}
#Droite > a {
    margin-bottom: 20px;

}
#carrousel * {
    width: 100%;
}

#back {
    position: fixed;
    right: 0;
    bottom: 5px;
    width: 25%;
    background-color: hsla(35, 100%, 69%, 0.5);
        border-radius:45px;
}
#back p {
    display: none;
    
}
#gauche div div {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#gauche div div * {
    width: 25%;
}

#gauche div {
    margin-bottom: 25px;
}

@media screen and (min-width:1250px) {
    #en-tete {
        height: 800px;
    }
    section {
        flex-direction: column;
    }
    h2 {
        text-align: start;
    }
    #contenu {
        display: flex;
        flex-direction: row-reverse;
        gap : 40px;
    }
    #gauche {
        width: 40%;
    }
    #droite {
        width: 60%;

    }

    #gauche div div {
        justify-content: flex-start;
        gap: 10px;
    }

    #carrousel {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }
    #carrousel * {
        width: calc(50% - 10px);
    }

    #back {
        
        width: 10%;
        right: 50px;
        bottom: 50px;
        
    }
    #back p {
        display: inline;
        margin: 0 25px 25px;
    }
}