/*Style générale*/
/*Import Police*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "Mouldy Cheese";
  src: url(../fonts/MouldyCheeseRegular-WyMWG.ttf);
}
:root {
    --secondary:#FFBE63;
    --Main: #6FBDD2;
    --Text:#0A2A33;
    --Bold:#184c5a;
    
    --O-shadow:7px 7px 7px 0px rgba(255, 190, 99, 0.50) ;
    --B-shadow:7px 7px 7px 0px rgba(78, 129, 159, 0.50) ;
}

* {
    /*Police corp*/
    font-family: "Caveat Brush";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color:var(--Text);
    line-height: normal;
    margin: 0;
    border: none;
}

/*Police Titre*/
h1,h2,h3 {
    font-family: "Mouldy Cheese";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h1,.CENTRER {
    font-size: 2.4rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}

body {
    background-color:var(--Main) ;
}
main {
    margin: 0.4rem auto 0.6rem;
    width: 82.22%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

/*Classe*/
.container {
    display: flex;
    width: 100%;
    gap: 20px;
}
/*Gras*/
.sous-titre {
    font-family: "Caveat Brush";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}
.bold {
    font-size: calc(1rem + 2px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    paint-order: stroke fill;
    color: var(--Bold);
    /* -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: var(--Text);
    margin: 0 0.2rem;
    letter-spacing: 0.1rem; */
}

/*Bouton*/
.button {
    /*Police Bouton*/
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: black;
    text-decoration: none;
    text-align: center;

    display: inline-flex;
    padding: 0.35rem 1.55rem;
    align-items: center;
    justify-content: center;
    border-radius: 3.15rem;
    background-color: var(--secondary);

    box-shadow: var(--B-shadow);
    margin-bottom: 0.6rem;

}
/*React Bouton*/
.button:hover {
    background-color: white;
}

/*Responsive*/
@media screen and (max-width:426px ) {
    * {
        font-size: 16px;
    }

    main {
        margin: 0.5rem 2.82%;
        width: 94.35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;
    }
    
    .container {
        flex-direction: column;
    }
}
    
